.fs150 {
  font-size: 150%;
}
.fs110 {
  font-size: 110%;
}
.fs125 {
  font-size: 125%;
}
.fs200 {
  font-size: 200%;
}
.fs250 {
  font-size: 250%;
}
.fs300 {
  font-size: 300%;
}
.fs80 {
  font-size: 80%;
}
.fs60 {
  font-size: 60%;
}
.lh15 {
  line-height: 1.5;
}
.lh1 {
  line-height: 1 !important;
}
.pd1 {
  padding: 1em;
}
.pd01 {
  padding: 0 1em;
}
.pd005 {
  padding: 0 0.5em;
}
.cover {
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.bg-contain {
  background-position: center center;
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.boxsz {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.grey-box {
  background-color: rgba(0,0,0,0.4);
}
.nice-pink {
  color: #fa4d73 !important;
}
.nice-pink-neon {
  color: #fa4d73 !important;
  text-shadow: 0 0 0.5em rgba(250,77,115,0.65), 0 0 1em rgba(250,77,115,0.65), 0 0 1.5em rgba(250,77,115,0.65);
}
.nice-pink-bg {
  background-color: #fa4d73 !important;
}
.nice-dark-pink {
  color: #ff14d7 !important;
}
.nice-dark-pink-neon {
  color: #ff14d7 !important;
  text-shadow: 0 0 0.5em rgba(255,20,215,0.65), 0 0 1em rgba(255,20,215,0.65), 0 0 1.5em rgba(255,20,215,0.65);
}
.nice-dark-pink-bg {
  background-color: #ff14d7 !important;
}
.nice-scarlet {
  color: #fa8072 !important;
}
.nice-scarlet-neon {
  color: #fa8072 !important;
  text-shadow: 0 0 0.5em rgba(250,128,114,0.65), 0 0 1em rgba(250,128,114,0.65), 0 0 1.5em rgba(250,128,114,0.65);
}
.nice-scarlet-bg {
  background-color: #fa8072 !important;
}
.nice-dark-scarlet {
  color: #243b80 !important;
}
.nice-dark-scarlet-neon {
  color: #ff6a6a !important;
  text-shadow: 0 0 0.5em rgba(255,106,106,0.65), 0 0 1em rgba(255,106,106,0.65), 0 0 1.5em rgba(255,106,106,0.65);
}
.nice-dark-scarlet-bg {
  background-color: #243b80 !important;
}
.nice-red {
  color: #fc4541 !important;
}
.nice-red-neon {
  color: #fc4541 !important;
  text-shadow: 0 0 0.5em rgba(252,69,65,0.65), 0 0 1em rgba(252,69,65,0.65), 0 0 1.5em rgba(252,69,65,0.65);
}
.nice-red-bg {
  background-color: #fc4541 !important;
}
.nice-dark-red {
  color: #ac1400 !important;
}
.nice-dark-red-neon {
  color: #ac1400 !important;
  text-shadow: 0 0 0.5em rgba(172,20,0,0.65), 0 0 1em rgba(172,20,0,0.65), 0 0 1.5em rgba(172,20,0,0.65);
}
.nice-dark-red-bg {
  background-color: #ac1400 !important;
}
.nice-green {
  color: #5ed900 !important;
}
.nice-green-neon {
  color: #5ed900 !important;
  text-shadow: 0 0 0.5em rgba(94,217,0,0.65), 0 0 1em rgba(94,217,0,0.65), 0 0 1.5em rgba(94,217,0,0.65);
}
.nice-green-bg {
  background-color: #5ed900 !important;
}
.nice-dark-green {
  color: #56c493 !important;
}
.nice-dark-green-neon {
  color: #56c493 !important;
  text-shadow: 0 0 0.5em rgba(86,196,147,0.65), 0 0 1em rgba(86,196,147,0.65), 0 0 1.5em rgba(86,196,147,0.65);
}
.nice-dark-green-bg {
  background-color: #56c493 !important;
}
.nice-lime {
  color: #64ff33 !important;
}
.nice-lime-neon {
  color: #64ff33 !important;
  text-shadow: 0 0 0.5em rgba(100,255,51,0.65), 0 0 1em rgba(100,255,51,0.65), 0 0 1.5em rgba(100,255,51,0.65);
}
.nice-lime-bg {
  background-color: #64ff33 !important;
}
.nice-dark-lime {
  color: #00aa35 !important;
}
.nice-dark-lime-neon {
  color: #00aa35 !important;
  text-shadow: 0 0 0.5em rgba(0,170,53,0.65), 0 0 1em rgba(0,170,53,0.65), 0 0 1.5em rgba(0,170,53,0.65);
}
.nice-dark-lime-bg {
  background-color: #00aa35 !important;
}
.nice-sky {
  color: #4df !important;
}
.nice-sky-neon {
  color: #4df !important;
  text-shadow: 0 0 0.5em rgba(68,221,255,0.65), 0 0 1em rgba(68,221,255,0.65), 0 0 1.5em rgba(68,221,255,0.65);
}
.nice-sky-bg {
  background-color: #4df !important;
}
.nice-dark-sky {
  color: #17d1ff !important;
}
.nice-dark-sky-neon {
  color: #17d1ff !important;
  text-shadow: 0 0 0.5em rgba(23,209,255,0.65), 0 0 1em rgba(23,209,255,0.65), 0 0 1.5em rgba(23,209,255,0.65);
}
.nice-dark-sky-bg {
  background-color: #17d1ff !important;
}
.nice-blue {
  color: #0061ff !important;
}
.nice-blue-neon {
  color: #0061ff !important;
  text-shadow: 0 0 0.5em rgba(0,97,255,0.65), 0 0 1em rgba(0,97,255,0.65), 0 0 1.5em rgba(0,97,255,0.65);
}
.nice-blue-bg {
  background-color: #0061ff !important;
}
.nice-dark-blue {
  color: #004ee7 !important;
}
.nice-dark-blue-neon {
  color: #004ee7 !important;
  text-shadow: 0 0 0.5em rgba(0,78,231,0.65), 0 0 1em rgba(0,78,231,0.65), 0 0 1.5em rgba(0,78,231,0.65);
}
.nice-dark-blue-bg {
  background-color: #004ee7 !important;
}
.nice-cyan {
  color: #88e9e9 !important;
}
.nice-cyan-neon {
  color: #88e9e9 !important;
  text-shadow: 0 0 0.5em rgba(136,233,233,0.65), 0 0 1em rgba(136,233,233,0.65), 0 0 1.5em rgba(136,233,233,0.65);
}
.nice-cyan-bg {
  background-color: #88e9e9 !important;
}
.nice-dark-cyan {
  color: #0db7b6 !important;
}
.nice-dark-cyan-neon {
  color: #0db7b6 !important;
  text-shadow: 0 0 0.5em rgba(13,183,182,0.65), 0 0 1em rgba(13,183,182,0.65), 0 0 1.5em rgba(13,183,182,0.65);
}
.nice-dark-cyan-bg {
  background-color: #0db7b6 !important;
}
.nice-yellow {
  color: #fffa00 !important;
}
.nice-yellow-neon {
  color: #fffa00 !important;
  text-shadow: 0 0 0.5em rgba(255,250,0,0.65), 0 0 1em rgba(255,250,0,0.65), 0 0 1.5em rgba(255,250,0,0.65);
}
.nice-yellow-bg {
  background-color: #fffa00 !important;
}
.nice-dark-yellow {
  color: #fc3 !important;
}
.nice-dark-yellow-neon {
  color: #fc3 !important;
  text-shadow: 0 0 0.5em rgba(255,204,51,0.65), 0 0 1em rgba(255,204,51,0.65), 0 0 1.5em rgba(255,204,51,0.65);
}
.nice-dark-yellow-bg {
  background-color: #fc3 !important;
}
.nice-orange {
  color: #fe7002 !important;
}
.nice-orange-neon {
  color: #fe7002 !important;
  text-shadow: 0 0 0.5em rgba(254,112,2,0.65), 0 0 1em rgba(254,112,2,0.65), 0 0 1.5em rgba(254,112,2,0.65);
}
.nice-orange-bg {
  background-color: #fe7002 !important;
}
.nice-dark-orange {
  color: #df5525 !important;
}
.nice-dark-orange-neon {
  color: #df5525 !important;
  text-shadow: 0 0 0.5em rgba(223,85,37,0.65), 0 0 1em rgba(223,85,37,0.65), 0 0 1.5em rgba(223,85,37,0.65);
}
.nice-dark-orange-bg {
  background-color: #df5525 !important;
}
.nice-magenta {
  color: #d144ff !important;
}
.nice-magenta-neon {
  color: #d144ff !important;
  text-shadow: 0 0 0.5em rgba(209,68,255,0.65), 0 0 1em rgba(209,68,255,0.65), 0 0 1.5em rgba(209,68,255,0.65);
}
.nice-magenta-bg {
  background-color: #d144ff !important;
}
.nice-dark-magenta {
  color: #9d00ee !important;
}
.nice-dark-magenta-neon {
  color: #9d00ee !important;
  text-shadow: 0 0 0.5em rgba(157,0,238,0.65), 0 0 1em rgba(157,0,238,0.65), 0 0 1.5em rgba(157,0,238,0.65);
}
.nice-dark-magenta-bg {
  background-color: #9d00ee !important;
}
.nice-violet {
  color: #6495ed !important;
}
.nice-violet-neon {
  color: #6495ed !important;
  text-shadow: 0 0 0.5em rgba(100,149,237,0.65), 0 0 1em rgba(100,149,237,0.65), 0 0 1.5em rgba(100,149,237,0.65);
}
.nice-violet-bg {
  background-color: #6495ed !important;
}
.nice-dark-violet {
  color: #410095 !important;
}
.nice-dark-violet-neon {
  color: #410095 !important;
  text-shadow: 0 0 0.5em rgba(65,0,149,0.65), 0 0 1em rgba(65,0,149,0.65), 0 0 1.5em rgba(65,0,149,0.65);
}
.nice-dark-violet-bg {
  background-color: #410095 !important;
}
.nice-white {
  color: #f9f9f9 !important;
}
.nice-white-neon {
  color: #f9f9f9 !important;
  text-shadow: 0 0 0.5em rgba(249,249,249,0.65), 0 0 1em rgba(249,249,249,0.65), 0 0 1.5em rgba(249,249,249,0.65);
}
.nice-white-bg {
  background-color: #f9f9f9 !important;
}
.nice-black {
  color: #111 !important;
}
.nice-black-neon {
  color: #111 !important;
  text-shadow: 0 0 0.5em rgba(17,17,17,0.65), 0 0 1em rgba(17,17,17,0.65), 0 0 1.5em rgba(17,17,17,0.65);
}
.nice-black-bg {
  background-color: #111 !important;
}
.nice-brown {
  color: #ca9700 !important;
}
.nice-brown-neon {
  color: #ca9700 !important;
  text-shadow: 0 0 0.5em rgba(202,151,0,0.65), 0 0 1em rgba(202,151,0,0.65), 0 0 1.5em rgba(202,151,0,0.65);
}
.nice-brown-bg {
  background-color: #ca9700 !important;
}
.nice-dark-brown {
  color: #893d00 !important;
}
.nice-dark-brown-neon {
  color: #893d00 !important;
  text-shadow: 0 0 0.5em rgba(137,61,0,0.65), 0 0 1em rgba(137,61,0,0.65), 0 0 1.5em rgba(137,61,0,0.65);
}
.nice-dark-brown-bg {
  background-color: #893d00 !important;
}
.nice-steel {
  color: #4876ff !important;
}
.nice-steel-neon {
  color: #4876ff !important;
  text-shadow: 0 0 0.5em rgba(72,118,255,0.65), 0 0 1em rgba(72,118,255,0.65), 0 0 1.5em rgba(72,118,255,0.65);
}
.nice-steel-bg {
  background-color: #4876ff !important;
}
.nice-dark-steel {
  color: #243b80 !important;
}
.nice-dark-steel-neon {
  color: #243b80 !important;
  text-shadow: 0 0 0.5em rgba(36,59,128,0.65), 0 0 1em rgba(36,59,128,0.65), 0 0 1.5em rgba(36,59,128,0.65);
}
.nice-dark-steel-bg {
  background-color: #243b80 !important;
}
.nice-coffee {
  color: #6f4e37 !important;
}
.nice-coffee-neon {
  color: #6f4e37 !important;
  text-shadow: 0 0 0.5em rgba(111,78,55,0.65), 0 0 1em rgba(111,78,55,0.65), 0 0 1.5em rgba(111,78,55,0.65);
}
.nice-coffee-bg {
  background-color: #6f4e37 !important;
}
.nice-yellow-green {
  color: #9acd32 !important;
}
.nice-yellow-green-neon {
  color: #9acd32 !important;
  text-shadow: 0 0 0.5em rgba(154,205,50,0.65), 0 0 1em rgba(154,205,50,0.65), 0 0 1.5em rgba(154,205,50,0.65);
}
.nice-yellow-green-bg {
  background-color: #9acd32 !important;
}
.nice-silver {
  color: #c0c0c0 !important;
}
.nice-silver-neon {
  color: #c0c0c0 !important;
  text-shadow: 0 0 0.5em rgba(192,192,192,0.65), 0 0 1em rgba(192,192,192,0.65), 0 0 1.5em rgba(192,192,192,0.65);
}
.nice-silver-bg {
  background-color: #c0c0c0 !important;
}
.nice-gold {
  color: #ffd700 !important;
}
.nice-gold-neon {
  color: #ffd700 !important;
  text-shadow: 0 0 0.5em rgba(255,215,0,0.65), 0 0 1em rgba(255,215,0,0.65), 0 0 1.5em rgba(255,215,0,0.65);
}
.nice-gold-bg {
  background-color: #ffd700 !important;
}
body {
  background-color: #000;
}
.w100 {
  width: 100%;
}
.w15em {
  width: 1.5em;
  text-align: center;
}
ul {
  list-style-type: none;
}
.pointer {
  cursor: pointer;
}
.float-right {
  float: right;
}
.helvetica {
  font-family: Helvetica;
}
.verdana {
  font-family: Verdana;
}
.caps {
  font-variant: small-caps;
}
.justify {
  text-align: justify;
  text-justify: inter-word;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
h1,
h2,
h3 {
  font-size: 300%;
  text-align: center;
  line-height: 2.5;
}
h3 {
  font-size: 200%;
}
@media only screen and (max-width: 400px) {
  h1,
  h2 {
    font-size: 150%;
  }
  h3 {
    font-size: 120%;
  }
}
@media only screen and (max-width: 320px) {
  h1,
  h2 {
    font-size: 130%;
  }
  h3 {
    font-size: 108%;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
*:focus {
  outline: 0;
}
pre code {
  text-align: left;
}
.page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #17d1ff;
}
header {
  background-color: #ccc;
  height: 2em;
}
.menu {
  padding: 0.5em 1em;
  line-height: 1.5;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 1000;
}
.menu .toggle-menu {
  display: none;
}
.next-page {
  display: none;
}
@media only screen and (max-width: 400px) {
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .menu {
    width: 80%;
    position: fixed;
    left: -85%;
    height: 100vh;
    top: 2em;
    background-color: #fff;
    box-shadow: 4px 4px 4px #000;
  }
  .menu li {
    font-family: Helvetica, Verdana;
  }
  .menu li a {
    font-size: 150%;
    display: block;
  }
  .menu .toggle-menu {
    color: #555;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 150%;
    display: block;
    width: 1.5em;
    text-align: center;
  }
  .next-page {
    background-color: #fffff0;
    position: fixed;
    z-index: 500;
    bottom: 1em;
    right: 1em;
    border-radius: 2em;
    width: 2em;
    height: 2em;
    line-height: 2.2;
    text-align: center;
    font-size: 150%;
    display: block;
    box-shadow: 3px 3px 3px #333;
    transition: all 750ms;
  }
  .next-page.hidden {
    box-shadow: 0 0 0 #333;
    opacity: 0;
  }
}
.animation-element {
  transition: all 500ms;
}
.anim-invisible {
  opacity: 0;
}
.anim-bounce-from-bottom {
  animation: bfb 750ms 1;
  -webkit-animation: bfb 750ms 1;
  -moz-animation: bfb 750ms 1;
  -o-animation: bfb 750ms 1;
}
.anim-bounce-from-top {
  animation: bft 750ms 1;
  -webkit-animation: bft 750ms 1;
  -moz-animation: bft 750ms 1;
  -o-animation: bft 750ms 1;
}
.anim-appear-from-left {
  animation: afl 750ms 1;
  -webkit-animation: afl 750ms 1;
  -moz-animation: afl 750ms 1;
  -o-animation: afl 750ms 1;
}
.anim-appear-from-right {
  animation: afr 750ms 1;
  -webkit-animation: afr 750ms 1;
  -moz-animation: afr 750ms 1;
  -o-animation: afr 750ms 1;
}
@-moz-keyframes bfb {
  0% {
    transform: translate3d(0, 5em, 0);
  }
  50% {
    transform: translate3d(0, -1em, 0);
  }
  75% {
    transform: translate3d(0, 1em, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes bfb {
  0% {
    transform: translate3d(0, 5em, 0);
  }
  50% {
    transform: translate3d(0, -1em, 0);
  }
  75% {
    transform: translate3d(0, 1em, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes bfb {
  0% {
    transform: translate3d(0, 5em, 0);
  }
  50% {
    transform: translate3d(0, -1em, 0);
  }
  75% {
    transform: translate3d(0, 1em, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bfb {
  0% {
    transform: translate3d(0, 5em, 0);
  }
  50% {
    transform: translate3d(0, -1em, 0);
  }
  75% {
    transform: translate3d(0, 1em, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes bft {
  0% {
    transform: translate3d(0, -5em, 0);
  }
  50% {
    transform: translate3d(0, 1em, 0);
  }
  75% {
    transform: translate3d(0, -1em, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes bft {
  0% {
    transform: translate3d(0, -5em, 0);
  }
  50% {
    transform: translate3d(0, 1em, 0);
  }
  75% {
    transform: translate3d(0, -1em, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes bft {
  0% {
    transform: translate3d(0, -5em, 0);
  }
  50% {
    transform: translate3d(0, 1em, 0);
  }
  75% {
    transform: translate3d(0, -1em, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bft {
  0% {
    transform: translate3d(0, -5em, 0);
  }
  50% {
    transform: translate3d(0, 1em, 0);
  }
  75% {
    transform: translate3d(0, -1em, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes afl {
  0% {
    transform: translate3d(-10em, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes afl {
  0% {
    transform: translate3d(-10em, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-o-keyframes afl {
  0% {
    transform: translate3d(-10em, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes afl {
  0% {
    transform: translate3d(-10em, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-moz-keyframes afr {
  0% {
    transform: translate3d(10em, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes afr {
  0% {
    transform: translate3d(10em, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-o-keyframes afr {
  0% {
    transform: translate3d(10em, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes afr {
  0% {
    transform: translate3d(10em, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
