section.timeline {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
  font-size: 100%;
  font-family: 'Noto Sans', sans-serif;
  color: #eee9dc;
  background: transparent;
}
section.timeline h2 {
  margin: 3em 0 0 0;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.the-timeline {
  list-style: none;
  margin: 50px 0 30px 120px;
  padding-left: 30px;
  border-left: 8px solid #eee9dc;
}
.the-timeline li {
  margin: 40px 0;
  position: relative;
}
.the-timeline li.passed .date {
  color: #4876ff;
}
.the-timeline li.passed .circle {
  background: #4876ff;
  border-color: #4876ff;
}
.the-timeline li.passed .radio:checked + .relative .circle {
  background: #f98262;
}
.the-timeline p {
  margin: 0 0 15px;
}
.date {
  margin-top: -10px;
  top: 50%;
  left: -158px;
  font-size: 0.95em;
  line-height: 20px;
  position: absolute;
}
.circle {
  margin-top: -10px;
  top: 50%;
  left: -44px;
  width: 10px;
  height: 10px;
  background: #eee9dc;
  border: 5px solid #eee9dc;
  border-radius: 50%;
  display: block;
  position: absolute;
}
.content {
  max-height: 20px;
  padding: 50px 20px 0;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
}
.content:before,
.content:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}
.content:before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}
.content:after {
  border-right-color: transparent;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}
.content p {
  max-height: 0;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
}
.content .date {
  display: none;
}
label {
  font-size: 1.3em;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 20px;
  transition: transform 0.2s linear;
}
.radio {
  display: none;
}
.radio:checked + .relative label {
  cursor: auto;
  transform: translateX(42px);
}
.radio:checked + .relative .circle {
  background: #f98262;
}
.radio:checked ~ .content {
  max-height: 60vh;
  border-color: #eee9dc;
  margin-right: 20px;
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}
.radio:checked ~ .content p {
  max-height: 200px;
  color: #eee9dc;
  transition: color 0.3s linear 0.3s;
}
.radio:checked ~ .content.sky {
  border-color: #4df;
}
.radio:checked ~ .content.sky p {
  color: #4df;
}
.radio:checked ~ .content.lime {
  border-color: #64ff33;
}
.radio:checked ~ .content.lime p {
  color: #64ff33;
}
.radio:checked ~ .content.green {
  border-color: #5ed900;
}
.radio:checked ~ .content.green p {
  color: #5ed900;
}
.radio:checked ~ .content.orange {
  border-color: #fe7002;
}
.radio:checked ~ .content.orange p {
  color: #fe7002;
}
@media screen and (max-width: 400px) {
  section.timeline {
    font-size: 250%;
  }
  section.timeline .the-timeline {
    margin-left: 0;
    padding-left: 0;
  }
  section.timeline .the-timeline li {
    margin: 50px 0;
  }
  section.timeline label {
    width: 85%;
    font-size: 1.1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    transform: translateX(18px);
  }
  section.timeline .content p {
    font-size: 0.9em;
    line-height: 1.4;
  }
  section.timeline .content .date {
    display: block;
    position: static;
    color: #aaa;
  }
  section.timeline .date {
    display: none;
  }
  section.timeline .circle {
    left: -14px;
  }
}
